<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-jenkin-plugins-usbfile" version="0.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>UsbFilePlugin</name>
    <description>Access files on a USB device</description>
    <license>MIT</license>
    <keywords>cordova,usb,file</keywords>

    <framework src="com.github.mjdev:libaums:0.6.0" />
    <framework src="com.github.magnusja:java-fs:v0.1.2" />

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="UsbFilePlugin">
                <param name="android-package"
                       value="com.jenkin.plugin.UsbFilePlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/jenkin/plugin/UsbFilePlugin.java"
                     target-dir="src/com/jenkin/plugin" />

        <source-file src="src/android/com/github/magnusja/libaums/javafs/JavaFsFileSystemCreator.java"
                    target-dir="src/android/com/github/magnusja/libaums/javafs" />

        <source-file src="src/android/com/github/magnusja/libaums/javafs/wrapper/device/DeviceWrapper.java"
                    target-dir="src/android/com/github/magnusja/libaums/javafs/wrapper/device"/>
        <source-file src="src/android/com/github/magnusja/libaums/javafs/FSBlockDeviceWrapper.java"
                    target-dir="src/android/com/github/magnusja/libaums/javafs/wrapper/device"/>

        <source-file src="src/android/com/github/magnusja/libaums/javafs/wrapper/fs/FileSystemWrapper.java"
                target-dir="src/android/com/github/magnusja/libaums/javafs/wrapper/fs"/>
        <source-file src="src/android/com/github/magnusja/libaums/javafs/wrapper/fs/UsbFileWrapper.java"
                target-dir="src/android/com/github/magnusja/libaums/javafs/wrapper/fs"/>
    </platform>

    <js-module name="UsbFile" src="www/UsbFile.js">
        <clobbers target="cordova.plugins.UsbFile" />
    </js-module>

</plugin>
